[Container]
ContainerName=gitea
Environment=USER_UID=1000
Environment=USER_GID=1000
Environment=GITEA__database__DB_TYPE=postgres
Environment=GITEA__database__HOST=localhost:5432
Environment=GITEA__database__NAME=gitea
Environment=GITEA__database__USER=gitea
Environment=GITEA__database__PASSWD=gitea
Image=docker.io/gitea/gitea:1.24-rootless
Volume=gitea-conf:/etc/gitea:Z
Volume=gitea-data:/var/lib/gitea:Z
Volume=/etc/localtime:/etc/localtime:ro
Pod=gitea.pod

[Service]
Restart=always

[Install]
WantedBy=default.target
